/* =fieldsets
====================================================================== */

fieldset legend {
	padding-bottom: 0.5em;
}

fieldset.set {
  padding: 1em;
}

fieldset.set legend {
	padding-bottom: 0;
}

/* =block & grid
====================================================================== */

div.field > input[type="text"],
div.field > input[type="password"],
div.field > select,
div.field > textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	width: 100%;
}

div.field > textarea {
  /* prevents CSS3 resize to surpass 100% */
	width: 100% !important;
}

/* =block
====================================================================== */

fieldset.block > div,
fieldset > div.block {
	margin-top: 0.5em;
}

fieldset.block > div:first-child,
fieldset.block > legend + div,
fieldset > div.block:first-child,
fieldset > legend + div.block {
	margin-top: 0;
}

fieldset.block > div > label,
fieldset > div.block > label {
	display: block;
	padding-bottom: 0.25em;
}

/* =grid
====================================================================== */

fieldset.grid > div,
fieldset > div.grid {
  display: table;
	margin-top: 0.5em;
	width: 100%;
}

fieldset.grid > div:first-child,
fieldset.grid > legend + div,
fieldset > div.grid:first-child,
fieldset > legend + div.grid {
	margin-top: 0;
}

.grid > label,
.grid > div.field,
.grid > div.fields,
.grid > div > label,
.grid > div > div.field,
.grid > div > div.fields {
  display: table-cell;
}

.grid > label,
.grid > div > label {
  padding-right: 1ex;
	width: 25%;
}

.grid > div.field,
.grid > div.fields,
.grid > div > div.field,
.grid > div > div.fields {
	width: 75%;
}

/* =style-separated
====================================================================== */

fieldset.separated.block > div,
fieldset.separated > div.block,
fieldset.grid.separated > div,
fieldset.separated > div.grid {
	padding-top: 0.5em;
}

fieldset.block.separated > div:first-child,
fieldset.block.separated > legend + div,
fieldset.separated > div.block:first-child,
fieldset.separated > legend + div.block,
fieldset.grid.separated > div:first-child,
fieldset.grid.separated > legend + div,
fieldset.separated > div.grid:first-child,
fieldset.separated > legend + div.grid {
	padding-top: 0;
	border-top: none;
}

/* =no
====================================================================== */

fieldset.nolegend legend {
  display: none;
}

label.noalign {
	vertical-align: top !important;
}

.nolabel > div.field,
.nolabel > div.fields {
	padding-left: 25%;
}